/*navbar*/
#navbar{
  display:grid;
  grid-template-columns: 1fr 50px 50px 40px 30px;
  grid-template-rows: auto;
  grid-template-areas: ". gmail images dots profile";
}
#gmail {
  grid-area: gmail;
  align-self: center;
  justify-self: center;

}
#images {
  grid-area: images;
  align-self: center;
  justify-self: center;
}
#dots {
  grid-area: dots;
  align-self: center;
  justify-self: center;
}
#profile{
  grid-area: profile;
  align-self: center;
  justify-self: center;
}

.top{
  color:rgba(0,0,0,0.87);
  text-decoration: none;
  font-size: 1em;
}
.dot-profile{
  width:20px;
}

/*main*/
#main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 70px 70px 200px;
  grid-template-areas:
  ". logo ."
  ". search ."
  ". buttons ."
  ". offered .";
}

#google-logo{
  max-width:20em;
}
#logo{
  grid-area: logo;
  align-self: bottom;
  justify-self: center;
}
#buttons{
  grid-area: buttons;
  align-self: center;
  justify-self: center;
}
#offered{
  grid-area: offered;
  align-self: top;
  justify-self: center;
}
#search {
  grid-area: search;
  align-self: center;
  justify-self: center;
  width:40em;
  border-radius: 20px;
  padding:10px;
  border:1px solid #dfe1e5;
  border-width: 1px;
  text-align:left;
  outline:none;
}
#search:hover {
  box-shadow: 1px 1px 5px grey;
}
#search:active{
  box-shadow: 1px 1px 5px grey;
}
button{
  padding: 10px 15px;
  size: 20px;
  border: none;
  background-color: #f2f2f2;
  color: #5F6368;
}
button:hover{
  border: 1px solid #dfe1e5;
  border-radius: 2px;
  color:#000;
}
 p {
   color:#000;
 }

 /*footer*/

 .foot{
   text-decoration: none;
   color:#5F6368;
   background-color:#f2f2f2;
 }
