html * {
  font-size: 1em;
  font-family:sans-serif !important;

}
/*navbar*/

#navbar{
  display:grid;
  grid-template-columns: 1fr 50px 50px 40px 30px;
  grid-template-rows: auto;
  grid-template-areas: ". gmail images dots profile";
  font-size:14px;
  padding-top:10px;
  padding-right: 10px;
}
#gmail {
  grid-area: gmail;
  align-self: center;
  justify-self: center;
}
#gmail:hover{
  text-decoration:underline;
}
#images {
  grid-area: images;
  align-self: center;
  justify-self: center;
}
#images:hover{
  text-decoration:underline;
}
#dots {
  grid-area: dots;
  align-self: center;
  justify-self: center;
}
#profile{
  width:1em;
  grid-area: profile;
  align-self: center;
  justify-self: center;

}

.top{
  color:rgba(0,0,0,0.87);
  text-decoration: none;
  font-size: 1em;
}
.dot-profile{
  width:20px;
}

/*main*/
#main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 70px 70px 300px;
  grid-template-areas:
  ". logo ."
  ". search ."
  ". buttons ."
  ". offered .";
}

#google-logo{
  max-width:20em;
}
#logo{
  grid-area: logo;
  align-self: flex-end;
  justify-self: center;
}
#buttons{
  grid-area: buttons;
  align-self: center;
  justify-self: center;
}
#offered{
  grid-area: offered;
  align-self: top;
  justify-self: center;
}
#search {
  grid-area: search;
  align-self: center;
  justify-self: center;
  width:35em;
  border-radius: 20px;
  padding:10px;
  border:1px solid #dfe1e5;
  border-width: 1px;
  text-align:left;
  outline:none;
}
#search:hover {
  box-shadow: 1px 1px 5px grey;
}
#search:active{
  box-shadow: 1px 1px 5px grey;
}
button{
  padding: 10px 15px;
  size: 20px;
  border: none;
  background-color: #f2f2f2;
  color: #5F6368;
}
button:hover{
  border: 1px solid #dfe1e5;
  border-radius: 2px;
  color:#000;
}
 p {
   color:#000;
 }
 #language{
   text-decoration:none;
 }
 #language:hover{
   text-decoration:underline;
 }

 /*footer*/
 #footer{
   background-color:#f2f2f2;
   padding:10px 0px 10px 0px;
   margin-bottom: 0;
   width:100%;
   bottom:0;
   left:0;
   border-top:1px solid #dfe1e5;
   position:absolute;
   display:grid;
 grid-template-columns: 10% 10% 10% 20% 1fr 10% 10% 10%;
 grid-template-rows: auto;
 grid-template-areas:"advertising business about how . privacy terms settings"

}
#advertising{
  grid-area: advertising;
  align-self: center;
  justify-self: center;
}
#business{
  grid-area: business;
  align-self: center;
  justify-self: center;
}
#about{
  grid-area: about;
  align-self: center;
  justify-self: center;
}
#how-search-works{
  grid-area: how;
  align-self: center;
  justify-self: center;
}
#privacy{
  grid-area: privacy;
  align-self: center;
  justify-self: center;
}
#terms{
  grid-area: terms;
  align-self: center;
  justify-self: center;
}
#settings{
  grid-area: settings;
  align-self: end;
  justify-self: center;
}

 .foot{
   text-decoration: none;
   color:#5F6368;
 }
.foot:hover{
  text-decoration:underline;
}
